In [77]:
from quantreo.datasets import *
from datetime import datetime
from quantreo.target_engineering.event_based import *
import ta
from datetime import datetime, timedelta
from tqdm import tqdm
from numba import njit
import numpy as np

df = pd.read_parquet("../../Ressources/data/ohlcv/ML_Strategy_4H_EURUSD.parquet").iloc[:,:6]#load_generated_ohlcv()
df

,open,high,low,close,high_time,low_time
time,,,,,,
2015-05-11 20:00:00,1.11579,1.11695,1.11460,1.11542,2015-05-11 20:52:00,2015-05-11 20:22:00
2015-05-12 00:00:00,1.11549,1.11574,1.11340,1.11398,2015-05-12 00:20:00,2015-05-12 03:55:00
2015-05-12 04:00:00,1.11398,1.11727,1.11361,1.11711,2015-05-12 07:50:00,2015-05-12 04:23:00
2015-05-12 08:00:00,1.11712,1.12679,1.11668,1.12583,2015-05-12 11:46:00,2015-05-12 09:01:00
2015-05-12 12:00:00,1.12584,1.12785,1.12265,1.12283,2015-05-12 12:46:00,2015-05-12 15:41:00
...,...,...,...,...,...,...
2024-11-13 04:00:00,1.06277,1.06290,1.06092,1.06127,2024-11-13 04:00:00,2024-11-13 07:22:00
2024-11-13 08:00:00,1.06127,1.06295,1.05931,1.06266,2024-11-13 11:55:00,2024-11-13 10:09:00
2024-11-13 12:00:00,1.06265,1.06539,1.06097,1.06362,2024-11-13 15:30:00,2024-11-13 13:31:00
2024-11-13 16:00:00,1.06362,1.06376,1.05554,1.05685,2024-11-13 16:05:00,2024-11-13 17:08:00
2024-11-13 20:00:00,1.05688,1.05755,1.05562,1.05639,2024-11-13 21:27:00,2024-11-13 20:48:00

In [109]:
@njit
def _fast_barrier_buy(i: int, open_arr: np.ndarray, high_arr: np.ndarray, low_arr: np.ndarray, high_time_arr: np.ndarray,
                     low_time_arr: np.ndarray, time_arr: np.ndarray, tp: float = 0.015, sl: float = -0.015) -> float:
    n = len(open_arr)
    for j in range(5000):
        idx = i + j
        if idx >= n:
            break  # Avoid out-of-bounds
            
        open_price = open_arr[i]
        high_price = high_arr[i + j]
        low_price = low_arr[i + j]

        var_high = (high_price - open_price) / open_price
        var_low = (low_price - open_price) / open_price

        if (tp < var_high) and (var_low < sl):
            if high_time_arr[i + j] < low_time_arr[i + j]:
                delta = high_time_arr[i + j] - time_arr[i]
                return delta / 3600
            else:
                delta = low_time_arr[i + j] - time_arr[i]
                return -delta / 3600

        elif tp < var_high:
            delta = high_time_arr[i + j] - time_arr[i]
            return delta / 3600

        elif var_low < sl:
            delta = low_time_arr[i + j] - time_arr[i]
            return -delta / 3600

    return 0.0


def _fast_barrier_sell(i: int, open_arr: np.ndarray, high_arr: np.ndarray, low_arr: np.ndarray, high_time_arr: np.ndarray,
                      low_time_arr: np.ndarray, time_arr: np.ndarray, tp: float = 0.015, sl: float = -0.015) -> float:
    n = len(open_arr)
    for j in range(5000):
        idx = i + j
        if idx >= n:
            break  # Avoid out-of-bounds
        
        open_price = open_arr[i]
        high_price = high_arr[i + j]
        low_price = low_arr[i + j]

        var_high = (high_price - open_price) / open_price
        var_low = (low_price - open_price) / open_price

        if (tp < -var_low) and (-var_high < sl):
            if low_time_arr[i + j] < high_time_arr[i + j]:
                delta = low_time_arr[i + j] - time_arr[i]
                return delta / 3600
            else:
                delta = high_time_arr[i + j] - time_arr[i]
                return -delta / 3600

        elif tp < -var_low:
            delta = low_time_arr[i + j] - time_arr[i]
            return delta / 3600

        elif -var_high < sl:
            delta = high_time_arr[i + j] - time_arr[i]
            return -delta / 3600

    return 0.0


def _fast_ind_barrier(i: int, open_arr: np.ndarray, high_arr: np.ndarray, low_arr: np.ndarray, high_time_arr: np.ndarray,
                     low_time_arr: np.ndarray, time_arr: np.ndarray, tp: float = 0.015, sl: float = -0.015, buy: bool = True) -> float:
    if buy:
        return _fast_barrier_buy(i, open_arr, high_arr, low_arr, high_time_arr, low_time_arr, time_arr, tp, sl)
    else:
        return _fast_barrier_sell(i, open_arr, high_arr, low_arr, high_time_arr, low_time_arr, time_arr, tp, sl)



def continuous_barrier_labeling(df: pd.DataFrame, open_col: str = "open", high_col: str = "high", low_col: str = "low",
                 high_time_col: str = "high_time",low_time_col: str = "low_time", tp: float = 0.015,
                 sl: float = -0.015, buy: bool = True) -> pd.Series:
    """
    Compute the time (in hours) to hit either a Take Profit (TP) or Stop Loss (SL) level
    after entering a trade, using a fast Numba-accelerated barrier labeling method.

    Parameters
    ----------
    df : pd.DataFrame
        Input DataFrame containing at least the following columns:
        - Price columns: `open_col`, `high_col`, `low_col`
        - Timestamp columns: `open_time_col`, `high_time_col`, `low_time_col`
    open_col : str, optional
        Name of the column containing the open price (default is 'open').
    high_col : str, optional
        Name of the column containing the high price (default is 'high').
    low_col : str, optional
        Name of the column containing the low price (default is 'low').
    open_time_col : str, optional
        Column name for the timestamp of the opening candle (default is 'open_time').
    high_time_col : str, optional
        Column name for the timestamp when the high occurred (default is 'high_time').
    low_time_col : str, optional
        Column name for the timestamp when the low occurred (default is 'low_time').
    tp : float, optional
        Take Profit threshold, as a relative change from open price (default is 0.015).
    sl : float, optional
        Stop Loss threshold, as a relative change from open price (default is -0.015).
    buy : bool, optional
        Whether to simulate a long position (True) or short position (False). Default is True.

    Returns
    -------
    pandas.Series
        A Series containing the time (in hours) required to hit either the TP or SL barrier after trade entry:
        - Positive values: TP was hit first.
        - Negative values: SL was hit first.
        - Zero: no barrier hit within the window or data ran out.
        The result is shifted by one row to prevent look-ahead bias.
    """
    df_copy = df.copy()

    required_cols = [open_col, high_col, low_col, high_time_col, low_time_col]
    for col in required_cols:
        if col not in df_copy.columns:
            raise ValueError(f"Missing required column: '{col}' in DataFrame.")

    if tp <= 0:
        raise ValueError(f"Take Profit (tp) should be strictly positive. Got {tp}")

    if sl >= 0:
        raise ValueError(f"Stop Loss (sl) should be strictly negative. Got {sl}")

    if len(df_copy) < 2:
        raise ValueError("DataFrame is too short to compute barriers.")


    df_copy.index.name = "time"
    df_copy = df_copy.reset_index(drop=False)

    # Convert timestamps to UNIX seconds
    df_copy["time_int"] = pd.to_datetime(df_copy["time"]).astype("int64") // 1_000_000_000
    df_copy["high_time_int"] = pd.to_datetime(df_copy[high_time_col]).astype("int64") // 1_000_000_000
    df_copy["low_time_int"] = pd.to_datetime(df_copy[low_time_col]).astype("int64") // 1_000_000_000

    # Extract arrays
    open_arr = df_copy[open_col].values
    high_arr = df_copy[high_col].values
    low_arr = df_copy[low_col].values
    high_time_arr = df_copy["high_time_int"].values
    low_time_arr = df_copy["low_time_int"].values
    time_arr = df_copy["time_int"].values

    # Barrier loop
    results = []
    for i in tqdm(range(len(df_copy))):
        try:
            label = _fast_ind_barrier(i, open_arr, high_arr, low_arr,
                high_time_arr, low_time_arr, time_arr, tp=tp, sl=sl, buy=buy)
        except Exception as e:
            print(f"Error at index {i}: {e}")
            label = 0.0
        results.append(label)

    label = pd.Series(results, index=df.index).shift(-1)
    label.iloc[-1] = 0
    return label

In [110]:
def double_barrier_labeling(df: pd.DataFrame,
                            open_col: str = "open",
                            high_col: str = "high",
                            low_col: str = "low",
                            high_time_col: str = "high_time",
                            low_time_col: str = "low_time",
                            tp: float = 0.015,
                            sl: float = -0.015,
                            buy: bool = True) -> pd.Series:
    """
    Compute double barrier classification labels based on TP/SL logic.

    This function wraps `continuous_barrier_labeling` and converts the continuous
    duration-based output into discrete labels:
        - 1  â†’ Take Profit was hit first
        - -1 â†’ Stop Loss was hit first
        - 0  â†’ No barrier hit within max horizon

    Parameters
    ----------
    df : pd.DataFrame
        Input DataFrame with price and time columns.
    open_col, high_col, low_col : str
        Column names for OHLC prices.
    high_time_col, low_time_col : str
        Timestamps corresponding to high and low extremes.
    tp : float, optional
        Take Profit threshold.
    sl : float, optional
        Stop Loss threshold.
    buy : bool, optional
        Whether to simulate a long position.

    Returns
    -------
    pandas.Series
        A Series containing discrete labels: 1 (TP), -1 (SL), or 0 (none).
    """
    continuous = continuous_barrier_labeling(
        df,
        open_col=open_col,
        high_col=high_col,
        low_col=low_col,
        high_time_col=high_time_col,
        low_time_col=low_time_col,
        tp=tp,
        sl=sl,
        buy=buy
    )

    labels = continuous.apply(lambda x: 1 if x > 0 else (-1 if x < 0 else 0))
    labels.name = "barrier_label"
    return labels



def triple_barrier_labeling(df: pd.DataFrame,
                            max_duration_h: float,
                            open_col: str = "open",
                            high_col: str = "high",
                            low_col: str = "low",
                            high_time_col: str = "high_time",
                            low_time_col: str = "low_time",
                            tp: float = 0.015,
                            sl: float = -0.015,
                            buy: bool = True) -> pd.Series:
    """
    Compute triple barrier classification labels based on TP/SL and a max holding time.

    Converts the continuous output of `continuous_barrier_labeling` into:
        -  1 â†’ TP hit within max_duration_h
        - -1 â†’ SL hit within max_duration_h
        -  0 â†’ Timeout (barrier not reached in time)

    Parameters
    ----------
    df : pd.DataFrame
        Input price DataFrame.
    max_duration_h : float
        Maximum duration allowed (in hours) to reach TP or SL.
    open_col, high_col, low_col : str
        OHLC column names.
    high_time_col, low_time_col : str
        Timestamp columns for high and low extremes.
    tp : float
        Take Profit threshold.
    sl : float
        Stop Loss threshold.
    buy : bool
        Whether to simulate a long (True) or short (False) position.

    Returns
    -------
    pandas.Series
        A Series of labels: 1 (TP), -1 (SL), or 0 (neither hit within time).
    """
    durations = continuous_barrier_labeling(
        df,
        open_col=open_col,
        high_col=high_col,
        low_col=low_col,
        high_time_col=high_time_col,
        low_time_col=low_time_col,
        tp=tp,
        sl=sl,
        buy=buy
    )

    def label_fn(x):
        if abs(x) > max_duration_h:
            return 0
        return 1 if x > 0 else -1 if x < 0 else 0

    labels = durations.apply(label_fn)
    labels.name = "triple_barrier_label"
    return labels

In [107]:
df["triple_barrier_label"] = triple_barrier_labeling(df, 120, tp=0.015, sl=-0.015, buy=True)
df["double_barrier"] = double_barrier_labeling(df, tp=0.015, sl=-0.015, buy=True)
df["labeling_fast"] = continuous_barrier_labeling(df, tp=0.015, sl=-0.015, buy=True)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 14792/14792 [00:00<00:00, 528189.07it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 14792/14792 [00:00<00:00, 736178.09it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 14792/14792 [00:00<00:00, 750406.94it/s]

In [108]:
df.head(20)

,open,high,low,close,high_time,low_time,labeling_fast,double_barrier,triple_barrier_label
time,,,,,,,,,
2015-05-11 20:00:00,1.11579,1.11695,1.11460,1.11542,2015-05-11 20:52:00,2015-05-11 20:22:00,39.833333,1,1
2015-05-12 00:00:00,1.11549,1.11574,1.11340,1.11398,2015-05-12 00:20:00,2015-05-12 03:55:00,35.833333,1,1
2015-05-12 04:00:00,1.11398,1.11727,1.11361,1.11711,2015-05-12 07:50:00,2015-05-12 04:23:00,34.883333,1,1
2015-05-12 08:00:00,1.11712,1.12679,1.11668,1.12583,2015-05-12 11:46:00,2015-05-12 09:01:00,46.316667,1,1
2015-05-12 12:00:00,1.12584,1.12785,1.12265,1.12283,2015-05-12 12:46:00,2015-05-12 15:41:00,42.316667,1,1
2015-05-12 16:00:00,1.12287,1.12663,1.12221,1.12367,2015-05-12 17:20:00,2015-05-12 16:16:00,38.316667,1,1
2015-05-12 20:00:00,1.12368,1.12403,1.12055,1.12132,2015-05-12 20:00:00,2015-05-12 23:29:00,34.316667,1,1
2015-05-13 00:00:00,1.12149,1.12324,1.12096,1.12273,2015-05-13 03:53:00,2015-05-13 00:07:00,30.316667,1,1
2015-05-13 04:00:00,1.12273,1.12544,1.12124,1.12485,2015-05-13 07:31:00,2015-05-13 04:54:00,26.316667,1,1
2015-05-13 08:00:00,1.12484,1.12657,1.12185,1.12269,2015-05-13 09:35:00,2015-05-13 11:29:00,22.316667,1,1
2015-05-13 12:00:00,1.12268,1.13237,1.12019,1.13068,2015-05-13 15:50:00,2015-05-13 12:03:00,-143.950000,-1,0
2015-05-13 16:00:00,1.13072,1.13825,1.13038,1.13707,2015-05-13 18:53:00,2015-05-13 16:11:00,-134.833333,-1,0
2015-05-13 20:00:00,1.13707,1.13790,1.13397,1.13521,2015-05-13 20:01:00,2015-05-13 22:47:00,-130.833333,-1,0
2015-05-14 00:00:00,1.13520,1.13600,1.13403,1.13478,2015-05-14 01:28:00,2015-05-14 03:54:00,-126.833333,-1,0
2015-05-14 04:00:00,1.13479,1.13740,1.13459,1.13660,2015-05-14 06:58:00,2015-05-14 06:00:00,-122.833333,-1,0
2015-05-14 08:00:00,1.13659,1.14304,1.13598,1.14031,2015-05-14 10:19:00,2015-05-14 08:28:00,-118.833333,-1,-1
2015-05-14 12:00:00,1.14031,1.14445,1.13946,1.14120,2015-05-14 13:57:00,2015-05-14 15:31:00,-114.833333,-1,-1
2015-05-14 16:00:00,1.14119,1.14171,1.13431,1.13787,2015-05-14 16:02:00,2015-05-14 18:27:00,-110.833333,-1,-1
2015-05-14 20:00:00,1.13787,1.14143,1.13667,1.14081,2015-05-14 23:49:00,2015-05-14 20:19:00,-106.833333,-1,-1
2015-05-15 00:00:00,1.14109,1.14134,1.13956,1.14029,2015-05-15 00:13:00,2015-05-15 03:50:00,-102.833333,-1,-1

In [111]:
# Import a dataset to test the functions and create new ones easily
from quantreo.datasets import load_generated_ohlcv
df = load_generated_ohlcv()

df

,open,high,low,close,volume
time,,,,,
2015-05-11 20:00:00,100.000000,100.358754,99.971765,100.113771,868.291731
2015-05-12 00:00:00,100.113771,100.274415,100.068157,100.197068,538.344102
2015-05-12 04:00:00,100.197068,100.621953,100.171421,100.550996,623.520889
2015-05-12 08:00:00,100.553515,100.789037,100.544627,100.759708,752.315201
2015-05-12 12:00:00,100.756989,100.975667,100.701889,100.769042,1260.121555
...,...,...,...,...,...
2024-11-13 04:00:00,102.104104,102.160879,101.878808,101.931978,431.101813
2024-11-13 08:00:00,101.931978,102.091758,101.931110,102.015341,1091.853172
2024-11-13 12:00:00,102.016217,102.082893,101.672509,101.853754,1848.353946
2024-11-13 16:00:00,101.851943,101.855884,101.712032,101.753414,1520.159220
2024-11-13 20:00:00,101.762771,101.972575,101.740974,101.876301,757.920331

In [112]:
dft = pd.read_parquet("../../Ressources/data/ohlcv/ML_Strategy_4H_EURUSD.parquet").iloc[:,:6]#load_generated_ohlcv()
dft

,open,high,low,close,high_time,low_time
time,,,,,,
2015-05-11 20:00:00,1.11579,1.11695,1.11460,1.11542,2015-05-11 20:52:00,2015-05-11 20:22:00
2015-05-12 00:00:00,1.11549,1.11574,1.11340,1.11398,2015-05-12 00:20:00,2015-05-12 03:55:00
2015-05-12 04:00:00,1.11398,1.11727,1.11361,1.11711,2015-05-12 07:50:00,2015-05-12 04:23:00
2015-05-12 08:00:00,1.11712,1.12679,1.11668,1.12583,2015-05-12 11:46:00,2015-05-12 09:01:00
2015-05-12 12:00:00,1.12584,1.12785,1.12265,1.12283,2015-05-12 12:46:00,2015-05-12 15:41:00
...,...,...,...,...,...,...
2024-11-13 04:00:00,1.06277,1.06290,1.06092,1.06127,2024-11-13 04:00:00,2024-11-13 07:22:00
2024-11-13 08:00:00,1.06127,1.06295,1.05931,1.06266,2024-11-13 11:55:00,2024-11-13 10:09:00
2024-11-13 12:00:00,1.06265,1.06539,1.06097,1.06362,2024-11-13 15:30:00,2024-11-13 13:31:00
2024-11-13 16:00:00,1.06362,1.06376,1.05554,1.05685,2024-11-13 16:05:00,2024-11-13 17:08:00
2024-11-13 20:00:00,1.05688,1.05755,1.05562,1.05639,2024-11-13 21:27:00,2024-11-13 20:48:00

In [116]:
df = pd.concat((df,dft[["low_time", "high_time"]]), axis=1)

In [119]:
df.to_csv("generated_ohlcv_with_time.csv")

In [120]:
df

,open,high,low,close,volume,low_time,high_time
time,,,,,,,
2015-05-11 20:00:00,100.000000,100.358754,99.971765,100.113771,868.291731,2015-05-11 20:22:00,2015-05-11 20:52:00
2015-05-12 00:00:00,100.113771,100.274415,100.068157,100.197068,538.344102,2015-05-12 03:55:00,2015-05-12 00:20:00
2015-05-12 04:00:00,100.197068,100.621953,100.171421,100.550996,623.520889,2015-05-12 04:23:00,2015-05-12 07:50:00
2015-05-12 08:00:00,100.553515,100.789037,100.544627,100.759708,752.315201,2015-05-12 09:01:00,2015-05-12 11:46:00
2015-05-12 12:00:00,100.756989,100.975667,100.701889,100.769042,1260.121555,2015-05-12 15:41:00,2015-05-12 12:46:00
...,...,...,...,...,...,...,...
2024-11-13 04:00:00,102.104104,102.160879,101.878808,101.931978,431.101813,2024-11-13 07:22:00,2024-11-13 04:00:00
2024-11-13 08:00:00,101.931978,102.091758,101.931110,102.015341,1091.853172,2024-11-13 10:09:00,2024-11-13 11:55:00
2024-11-13 12:00:00,102.016217,102.082893,101.672509,101.853754,1848.353946,2024-11-13 13:31:00,2024-11-13 15:30:00
2024-11-13 16:00:00,101.851943,101.855884,101.712032,101.753414,1520.159220,2024-11-13 17:08:00,2024-11-13 16:05:00
2024-11-13 20:00:00,101.762771,101.972575,101.740974,101.876301,757.920331,2024-11-13 20:48:00,2024-11-13 21:27:00

In [123]:
import pandas as pd
import numpy as np

def add_random_time_variation(df: pd.DataFrame,
                               low_col: str = 'low_time',
                               high_col: str = 'high_time',
                               max_shift_minutes: int = 5,
                               max_horizon: pd.Timedelta = pd.Timedelta(hours=4)) -> pd.DataFrame:
    """
    Add random time noise (Â±max_shift_minutes) to low_time and high_time columns,
    while making sure they stay within [index, index + max_horizon].

    Parameters
    ----------
    df : pd.DataFrame
        DataFrame with a DatetimeIndex and two datetime columns to shift.
    low_col : str
        Name of the low time column (default: 'low_time').
    high_col : str
        Name of the high time column (default: 'high_time').
    max_shift_minutes : int
        Maximum absolute value of time shift in minutes (default: 5).
    max_horizon : pd.Timedelta
        Maximum allowed time after the index (default: 4 hours).

    Returns
    -------
    df : pd.DataFrame
        Modified DataFrame with new low_time and high_time values.
    """

    df = df.copy()

    # Ensure columns are datetime
    df[low_col] = pd.to_datetime(df[low_col])
    df[high_col] = pd.to_datetime(df[high_col])

    for col in [low_col, high_col]:
        random_shifts = pd.to_timedelta(
            np.random.randint(-max_shift_minutes, max_shift_minutes + 1, size=len(df)),
            unit='m'
        )
        shifted = df[col] + random_shifts

        min_bound = df.index
        max_bound = df.index + max_horizon

        df[col] = shifted.where(shifted > min_bound, min_bound)
        df[col] = df[col].where(df[col] < max_bound, max_bound)

    return df



df = add_random_time_variation(df)

In [124]:
df

,open,high,low,close,volume,low_time,high_time
time,,,,,,,
2015-05-11 20:00:00,100.000000,100.358754,99.971765,100.113771,868.291731,2015-05-11 20:23:00,2015-05-11 20:53:00
2015-05-12 00:00:00,100.113771,100.274415,100.068157,100.197068,538.344102,2015-05-12 03:50:00,2015-05-12 00:18:00
2015-05-12 04:00:00,100.197068,100.621953,100.171421,100.550996,623.520889,2015-05-12 04:21:00,2015-05-12 07:47:00
2015-05-12 08:00:00,100.553515,100.789037,100.544627,100.759708,752.315201,2015-05-12 09:02:00,2015-05-12 11:49:00
2015-05-12 12:00:00,100.756989,100.975667,100.701889,100.769042,1260.121555,2015-05-12 15:37:00,2015-05-12 12:44:00
...,...,...,...,...,...,...,...
2024-11-13 04:00:00,102.104104,102.160879,101.878808,101.931978,431.101813,2024-11-13 07:23:00,2024-11-13 04:02:00
2024-11-13 08:00:00,101.931978,102.091758,101.931110,102.015341,1091.853172,2024-11-13 10:14:00,2024-11-13 12:00:00
2024-11-13 12:00:00,102.016217,102.082893,101.672509,101.853754,1848.353946,2024-11-13 13:28:00,2024-11-13 15:31:00
2024-11-13 16:00:00,101.851943,101.855884,101.712032,101.753414,1520.159220,2024-11-13 17:09:00,2024-11-13 16:08:00
2024-11-13 20:00:00,101.762771,101.972575,101.740974,101.876301,757.920331,2024-11-13 20:53:00,2024-11-13 21:26:00

In [129]:
df.to_csv("generated_ohlcv_with_time.csv")